body 
{
	margin: 0;
	background-image: url(../Images&Videos/bg.jpg);
	background-size: cover;
}
.titlu
{
	text-align: center;
	margin-top: 30px;
	font-family: 'Acme', sans-serif;
	font-size: 40px; 
	padding: 10px;
	background-color: white;
	opacity: 0.8;
}
.menu
{
	margin-top: 50px;
	width: 100%;
	background-color: black;
	text-align: center;
	opacity: 0.8;
}
.menu li
{
	list-style: none;
	display: inline-block;
	padding: 20px;
}	
.menu li a
{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	color: white;
	padding: 10px;

}
.menu li a:hover
{
	border:1px solid white;
	padding: 9px;
}
.text
{
	margin-top: 100px;
}
.paragraf
{
	width: 100%;
	background-color: black;
	border: 1px solid black;
	margin-bottom: 100px;
	opacity: 0.8;
	padding: 20px;
}
.paragraf h3,h4
{
	font-family: 'Bree Serif', serif;
	color: white;
	padding: 10px;
	margin-left: 30px;
	font-size:35px;
}
.paragraf h3
{
	text-align: center;
}
.paragraf h4
{
	font-size: 27px;
}
.imagine1
{
	margin-top: 20px;
	width: 100%;
	height: 500px;
	border: 1px solid black;
	margin-bottom: 100px;
}
.stats h4
{
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	color: black;
	text-align: center;
	font-family: 'Bree Serif', serif;
}
.stats h2
{
	text-align: center;
	font-size: 30px;
	font-family: 'Acme', sans-serif;
	opacity: 5;
	color: black;
}
.steag
{
	width: 100%;
	height: 200px;
	opacity: 0.8;
}
.lead
{
	width: 100%;
	height: 400px;
	opacity: 0.8;
}
.foter
{
	width: 100%;
	height: 150px;
	background-color: black;
	opacity: 0.8;
}
.foter h3
{
	padding: 10px;
	font-size: 20px;
	color: white;
	font-family: 'Bree Serif', serif;
}