.input-s {
  padding: 5px;
  border: 3px #3a3a3a solid;
  width: 25rem;
  height: 2rem;
  padding: auto;
  margin: 5px;
}

.txt {
  /* padding: 5px; */
  /* border: 3px #3a3a3a solid; */
  /* width: 25rem; */
  height: 1rem;
  padding: 0px;
  margin: 5px 5px 0px 5px;
}

.btn-1{
  display: block;
  /* margin: 14px 60px; */
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  min-height: 50px;

  /* margin-left: 20px;
  margin-right: 20px; */
  
}

.col{
  padding: 15px;
  background-color: #63636331;
  align-items: center;
}

