*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
body
{
    min-height: 100vh;
    overflow-x:hidden;
    background: linear-gradient(#2b1055, #7597de);

}
header
{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    padding: 30px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a 
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color:#2b1055;
}
.gallery{
    border:1px solid #ccc;
}
.gallery img{
    width: 300px;
    height:200px;
}

.des{
    padding:15px;
    text-align: center;  
    color:#fff;
}
.responsive{
    padding: 0 6px;
    float: left;
    width:25%;
}
@media only screen and (max-width:700px){
    .responsive{
        width:50%;
        margin:6px 0;
    }
}
@media only screen and (max-width:500px){
    .responsive{
        width:100%;
    }
}
h1{
    font-size: 3.5em;
    margin-bottom: 10px;
    color:#fff;
}
img{
    width: 70%;
    height:800px;
}